:root {
  --backdrop-0: rgba(169, 190, 195,, 0);
  --backdrop-1: rgba(169, 190, 195, 0.5);
}

#dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-0);
  padding: 20px 25px;
  min-width: 500px;

  #close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    color: var(--light-3);
  }

  #form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  form {
    h2 {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    label {
      color: var(--light-1);
      font-size: 0.85rem;
      display: block;
      margin-bottom: 5px;
    }
    .form-input {
      width: 100%;
    }
    input,
    select,
    textarea {
      background-color: var(--dark-1);
      padding: 5px 10px;
    }
    input,
    select {
      height: 45px;
    }

    /* span both columns */
    li:has(#name-input),
    li:has(#date-input),
    li:has(#desc-input) {
      grid-column: 1 / span 2;
    }

    /* date picker calendar icon */
    #date-input::-webkit-calendar-picker-indicator {
      color-scheme: dark;
    }

    li:has(#desc-input) {
      margin-top: 10px;
    }
    #desc-input {
      font-size: 0.85rem;
      resize: vertical;
      height: 100px;
      max-height: 200px;
      overflow-y: auto;
    }

    .dialog-btns {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      button {
        padding: 6px;
        width: 150px;
      }
    }
    #submit-btn {
      background-color: var(--dark-1a);
      color: var(--light-0);
      font-weight: 500;
      justify-self: right;
    }
    #cancel-btn {
      border: 2px solid var(--dark-1);
      color: var(--light-1);
      justify-self: left;
    }
  }
}

/* open state */
dialog[open] {
  opacity: 1;
}
/* closed state */
dialog {
  opacity: 0;
  transition:
    opacity 50ms ease-out,
    overlay 50ms ease-out allow-discrete,
    display 50ms ease-out allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}
dialog::backdrop {
  background-color: var(--backdrop-0);
  transition:
    overlay 50ms allow-discrete,
    display 50ms allow-discrete,
    background-color 50ms;
}
dialog[open]::backdrop {
  background-color: var(--backdrop-1);
}
@starting-style {
  dialog[open]::backdrop {
    background-color: var(--backdrop-0);
  }
}