#dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(217, 217, 217);
  padding: 20px 25px;
  min-width: 500px;

  #form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  form {
    h2 {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    label {
      font-size: 0.85rem;
      margin-bottom: 5px;
      display: block;
    }
    .form-input {
      width: 100%;
    }
    input,
    select,
    textarea {
      background-color: white;
      padding: 5px 10px;
    }
    input,
    select {
      height: 45px;
    }

    /* span both columns */
    li:has(#name-input),
    li:has(#date-input),
    li:has(#desc-input) {
      grid-column: 1 / span 2;
    }
    li:has(#desc-input) {
      margin-top: 10px;
    }
    #desc-input {
      font-size: 0.85rem;
      resize: vertical;
      height: 100px;
      max-height: 200px;
      overflow-y: auto;
    }

    .dialog-btns {
      margin-top: 30px;
      display: grid;
      grid-template-columns: auto auto;
      gap: 20px;

      button {
        padding: 6px;
        width: 150px;
      }
    }
    #submit-btn {
      background-color: rgb(104, 104, 104);
      color: white;
      font-weight: 500;
      justify-self: right;
    }
    #cancel-btn {
      border: 2px solid rgb(150, 150, 150);
      color: rgb(85, 85, 85);
      justify-self: left;
    }
  }
}

/* open state */
dialog[open] {
  opacity: 1;
}
/* closed state */
dialog {
  opacity: 0;
  transition:
    opacity 50ms ease-out,
    overlay 50ms ease-out allow-discrete,
    display 50ms ease-out allow-discrete;
}

@starting-style {
  dialog[open] {
    opacity: 0;
  }
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    overlay 50ms allow-discrete,
    display 50ms allow-discrete,
    background-color 50ms;
}
dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 50%);
}
@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}